body {
	background-color: grey;
}

h1 {
	font-family: Georgia;
	color: black;
}

p {
	font-family: Calibri;
	color: black;
}

img {
	height: 200px;
	width: 300px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p::first-letter {
	font-size: 150%;
}